.homePage {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: calc(100vh - 160px);
  background-color:#333;
}

.homePage h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.homePage p {
  font-size: 1.2rem;
  line-height: 1.5;
}


h2{
	color:#FCFBF4;
	
}	