.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border-bottom: 2px cyan;
  border-bottom-style: inset;
}

.logo img {
  height: 50px;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
}
