html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(28, 141, 161, 0.459),
  rgba(201, 50, 87, 0.4)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(28, 141, 161, 0.459),
  rgba(201, 50, 87, 0.4)
  );

  --imp-text-color: #3023a5;
}

